name: CD Pipeline

on:
  workflow_run:
    workflows: ["Docker Image CI"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull Docker image
        run: sudo docker pull noon01/car-value-cicd-pipeline:latest

      - name: Stop and remove old Docker container
        run: |
          sudo docker stop car-value-container || true
          sudo docker rm -f car-value-container || true

      - name: Run Docker container
        run: |
          sudo docker run -d \
            -p 3000:3000 \
            --name car-value-container \
            --restart unless-stopped \
            noon01/car-value-cicd-pipeline:latest

      - name: Verify container is running
        run: sudo docker ps -a | grep car-value-container